
.work-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/*Shared styles*/
.display-flex {
  display: flex;
}

.color-gray{
    color: #424242
}

.color-light-gray{
    color: #727272;
}

.bg-color{
    background-color: #fbcd97ee;
}

.btn{
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    background-color: #ff900e;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
}

/*header styles*/

/*navbar styles*/
.navbar{
    justify-content: space-between;
}

.brand{
    font-size: 3rem;
    font-weight: 700;
}

.nav-item{
    list-style: none;
}

.nav-links{
    justify-self: space-around;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding-right: 20px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/*banner styles*/
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 2rem;
}

.banner-img{
    width: 100%;
}

/*features section styles*/
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.our-features{
    margin-left: 90px;
    max-width: 550px;
}

.teams h3{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 15px;
}


/*responsive styles*/
@media screen and (max-width: 576px){
    .navbar, 
    .nav-links, 
    .teams{
        flex-direction: column;
    }

    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        margin: 0 auto;
    }
}

@media screen (min-width: 576px) and (max-width: 990px){
    .teams{
        flex-direction: column;
    }

    .our-features{
        margin: 0 auto;
    }
}