
.work-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/*Shared styles*/
.display-flex {
  display: flex;
}

.color-gray{
    color: #424242
}

.color-light-gray{
    color: #727272;
}

.bg-color{
    background-color: #f1a957
}

/*header styles*/

/*navbar styles*/
.navbar{
    justify-content: space-between;
}

.brand{
    padding: 30px 15px;
}

.nav-item{
    list-style: none;
}

.nav-links{
    justify-self: space-around;
    padding-right: 10px;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px 15px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}